---
title: home
type: pages
order: 1
---

<div data-pagefind-ignore>
  <div class="banner">
    <img src="/assets/images/banner.png" alt="Lex Feathers's personal blog" loading="lazy">
  </div>

  <h1>Hi, I'm <a href="/pages/about">Lex!</a></h1>
  <p>
    This is my HTML scratchpad and general idea sharing repository. 
    What I can't put on a microblogging site goes here. You'll find music I'm working on, idle self-chatter, and more on this website. 
    Ideally, we'll both learn something new!
  </p>

  <h2 class="faded" style="margin-bottom: 0;">Latest post:</h2>

  <article class="homepage-excerpt">
    {# Get the latest post #}
    {% set latestPost = search.pages("type=posts draft=false", "published=desc", 1) %}
    {# {% for post in latestPost %}
    <div class="homepage-excerpt-container">
      <div class="margin-bar"></div>
      <div class="homepage-excerpt-content">
        <a href="{{ post.url }}">
          <h3>{{ post.title }}</h3>
          <span class="homepage-excerpt-date">
            Posted {% include "/templates/date.njk" %} by {{ post.author }}
          </span>
        </a>
        <figure>
          {% if post.excerpt %}
            {{ post.excerpt | safe }}
          {% else %}
            {{ post.content | safe }}
          {% endif %}
        </figure>
      </div>
    </div> #}

    {% asyncEach post in latestPost %}
      <div class="homepage-excerpt-container">
        <div class="directory-card" style="width:100%">
          <div style="margin:0;">
            <a class="directory-card__link" href="{{ post.url }}">
              <span>
                {{ post.title }}
              </span><br>
                <span aria-hidden="true" class="icon">&#9993;</span> 
              <span class="date excerpt-date">
                Posted {% include "/templates/date.njk" %} by {{ post.author }}
              </span>
              <figure>
                {% ifAsync post.excerpt %}
                  {{ post.excerpt | safe }}
                {% else %}
                  {{ post.content | safe }}
                {% endif %}
              </figure>
            </a>
            <a href="{{ post.url }}" class="button read-more">
              <span style="font-weight:300;">Read&nbsp;more-></span>
            </a>
          </div>
        </div>
      </div>
    {% endeach %}
  </article>
</div>

<a class="visually-hidden" aria-hidden="true" rel="me" href="https://tenforward.social/@lexfeathers">Mastodon</a>