---
title: transients
---

<p><span title="smosts ;^)">Small posts (🤏🏻)</span> that don't belong on the main blog</p>

{% set smosts = search.pages("type=smosts draft=false", "published=desc")%}

<div class="smosts">
{% asyncEach smost in smosts %}
    {% include "/templates/smost.njk" %}
{% endeach %}
</div>