<div class="grid-item">
    <a href="{{ item.url }}">
        <div class="grid-item__information">
            <div class="grid-item__media">
                <img 
                    src="{{ item.thumbnail }}" 
                    alt="{{ item.title }}" 
                    title="{{ item.title }}" 
                    class="item-photo"
                >
            </div>
            <div class="grid-item__details">
                <h3>{{ item.title }}</h3>
                <span class="grid-item__client text-small"><span aria-hidden="true" class="icon faded">&#9733;</span> {{ item.author }}</span><br>
                <span class="grid-item__worktype">{{ item.work_type }}</span>
            </div>
        </div>
    </a>
</div>