<header>
  <h1 class="header-logo">
    <a href="/">
      <img class="logo" id="darklogo" src="/assets/images/Lex Feathers Logo_ff993a_small.png" alt="Lex Feathers' Logo" aria-hidden="true">
      <img class="logo" id="lightlogo" src="/assets/images/Lex Feathers Logo_a90060_small.png" alt="Lex Feathers' Logo" aria-hidden="true">
      <span class="name">{{ website.site_title }}</span>
    </a>
	{% include "/templates/theme-selector.njk" %}
  </h1>
  <nav>
    <ul class="menu">
      {% include "/templates/mainmenu.njk" %}
    </ul>
  </nav>
</header>

<style>
  .logo {
    width: 32px;
    vertical-align: middle;
    margin-right: 1.5rem;
  }
  @media screen and (max-width: 749px) {
    .logo {
      width: 24px;
    }
  }
</style>