{# {% set menuItems = search.pages("type=pages", "order=asc") %}
{% asyncEach menuItem in menuItems %}
<li class="menu-item">
  <a href="{{ menuItem.url }}">{{ menuItem.title }}</a>
</li>
{% endeach %} #}
<li class="menu-item">
  <a href="/">home</a>
</li>
<li class="menu-item">
  <a href="/portfolio">portfolio</a>
</li>
<li class="menu-item">
  <a href="/pages/directory">blog</a>
</li>
<li class="menu-item">
  <a href="/pages/about">about</a>
</li>
<li class="menu-item">
  <a href="/pages/taglist">tags</a>
</li>
<li class="menu-item">
  <a href="/pages/contact">contact</a>
</li>