---
layout: /layout.njk
title: portfolio
author: Lex Feathers
image: /assets/images/banner.png
description: Composer, Sound Designer and Webdev.
---

<div class="grid">
    {% asyncEach item in results %}
    {% include "/templates/grid-item.njk" %}
    {% endeach %}
</div>
{% include "/templates/pagination.njk" %}