---
layout: /layout.njk
---
<div data-pagefind-ignore>
  <a href="/pages/directory" alt="Back to directory" class="button"><- directory</a>
  <h1>{{ title }}</h1>
  <hr class="faded">

  {% if author %}
    <h3 class="faded author">
      <span aria-hidden="true" class="icon">&#9993;</span> {{ author }}<span class="faded date">{{ published | date('HUMAN_DATE') }}</span>
    </h3>
  {% endif %}
</div>

<article class="post" transform-images="webp gif 1000@2">
  {% if content_warnings|length %}
    <details class="content-warnings" open="">
      <summary>Content warning</summary>
      <ul>
        {% for cw in content_warnings %}
          <li>{{ cw }}</li>
        {% endfor %}
      </ul>
    </details>
  {% endif %}

  <h1 class="visually-hidden" aria-hidden="true">{{ title }}</h1>

  {% if image %}
    <figure class="hero-img" transform-images="">
      <a href="{{ image }}">
        <img 
          src="{{ image }}" 
          alt="{% if image_alt %}{{ image_alt }}{% else %}{{ image_caption }}{% endif %}" 
          loading="lazy"
        >
      </a>
      {% if image_caption %}
        <figcaption>{{ image_caption }}</figcaption>
      {% endif %}
    </figure>
  {% endif %}

  {{ content | safe }}

  {# Loop through tags and display them inline, if there are any #}
  {% if tags %}
    <div class="tags">
      <h3>Tags:</h3>
      <ul class="taglist">
        {% for tag in tags %}
          <li><a href="../../tag/{{tag}}">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <br>

  <!-- Comments -->
  {% if comments == true %}
    <script defer src="https://comments.friendsofeggbug.org/comentario.js"></script>
    <comentario-comments css-override="/assets/styles/commentario.css" no-fonts="true" live-update="false"></comentario-comments>
  {% endif %}
</article>