<aside id="sidebar">
  <div class="directory">
    <h3>Nav</h3>
    <div>
      <ul class="page-list">
        {% include "/templates/mainmenu.njk" %}
      </ul>
    </div>
  </div>

{% ifAsync title != 'home' and title != 'directory' %}
  <h3>Recent posts:</h3>
  <div id="post-dir">
    <div class="margin-bar"></div>
    <menu>
      <ul class="post-list">
        {# Get posts that aren't drafts #}
        {% set posts = search.pages("type=posts draft=false", "published=desc", 8) %}
        {% asyncEach post in posts %}
          <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
        {% endeach %}
        {# <li><a href="/pages/directory/" title="All posts" alt="All posts">...</a></li> #}
      </ul>
    </menu>
  </div>
{% endif %}

<a href="/pages/directory/" class="button">All posts</a>

{# Goofy divs: Silly little design idea that may be worth coming back to #}
{% ifAsync title == 'home' or title == 'directory' %}
{# <div class="fundivs-container">
  <div class="fundivs">
    <div style="flex: 20 0 auto;" class="fundiv"></div>
    <div style="flex: 19 0 auto;" class="fundiv"></div>
    <div style="flex: 18 0 auto;" class="fundiv"></div>
    <div style="flex: 17 0 auto;" class="fundiv"></div>
    <div style="flex: 16 0 auto;" class="fundiv"></div>
    <div style="flex: 15 0 auto;" class="fundiv"></div>
    <div style="flex: 14 0 auto;" class="fundiv"></div>
    <div style="flex: 13 0 auto;" class="fundiv"></div>  
    <div style="flex: 12 0 auto;" class="fundiv"></div>  
    <div style="flex: 11 0 auto;" class="fundiv"></div>  
    <div style="flex: 10 0 auto;" class="fundiv"></div>
    <div style="flex: 9 0 auto;" class="fundiv"></div>
    <div style="flex: 8 0 auto;" class="fundiv"></div>
    <div style="flex: 7 0 auto;" class="fundiv"></div>
    <div style="flex: 6 0 auto;" class="fundiv"></div>
    <div style="flex: 5 0 auto;" class="fundiv"></div>
    <div style="flex: 4 0 auto;" class="fundiv"></div>
    <div style="flex: 3 0 auto;opacity:0.8" class="fundiv"></div>  
    <div style="flex: 2 0 auto;opacity:0.6" class="fundiv"></div>  
    <div style="flex: 1 0 auto;opacity:0.4" class="fundiv"></div>      
  </div>  
</div> #}
{# For now, just fill the sidebar space so that it's the same width as on other pages #}
<div style="min-width: 250px;"></div>
{% endif %}

  <div class="footer-container-sidebar">
    <h4>Links</h4>
    {% include "/templates/footer.njk" %}
  </div>

  {# <a href="/pages/about" id="sidebar-character" alt="about">
    <div>
      <img src="/assets/images/pinkcircle.png">
    </div>
  </a> #}
</aside>