---
layout: /layout.njk
---
<div class="post-directory">
  {% ifAsync pages.length %}
    <ul class="directory">
      {% asyncEach page in pages %}
        <li class="directory-card">
          <div>
            <a class="directory-card__link" href="{{ page.url }}">
              <span>
                {{ page.title }}
              </span><br>
              <span class="faded date">
                <span aria-hidden="true" class="icon">&#9993;</span> {{ page.published | date('HUMAN_DATE') }}
              </span><br>
            </a>
          </div>
        </li>
      {% endeach %}
    </ul>
  {% else %}
    <p>There are no posts to display.</p>
  {% endif %}
</div>

<div style="margin-top:2rem;">
  <a href="../../pages/taglist">All tags</a>
</div>