  {# Theme toggle button by Óscar Otero #}
  <div id="theme-select-container">
    <script>
      let theme = localStorage.getItem("theme") || (window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light");
      document.documentElement.dataset.theme = theme;
      function changeTheme() {
        theme = theme === "dark" ? "light" : "dark";
        localStorage.setItem("theme", theme);
        document.documentElement.dataset.theme = theme;
      }
    </script>
    <button id="theme-selector" onclick="changeTheme()" alt="Theme selector">
      <span aria-hidden="true" class="icon">&#127780;</span>
    </button>
  </div>