  {# Theme toggle button by Óscar Otero #}
  <div id="theme-select-container">
    <script>
      let theme = localStorage.getItem("theme") || (window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light");
      document.documentElement.dataset.theme = theme;
      function changeTheme() {
        theme = theme === "dark" ? "light" : "dark";
        localStorage.setItem("theme", theme);
        document.documentElement.dataset.theme = theme;
      }
      function rotate() {
        const icon = document.getElementById("theme-selector-icon");
        const banner = document.getElementById("banner");
        icon.classList.toggle('rotated');
      }
    </script>
    
    <button id="theme-selector" onclick="changeTheme(), rotate()" alt="Toggle light or dark theme">
      <span aria-hidden="true" class="icon">
        <div id="theme-selector-icon" class="icon icon-lightbulb icon-lightbulb__div"></div>
      </span>
    </button>
  </div> 
