<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ website.site_title }} - {{ title }}</title>
		<link rel="stylesheet" href="/assets/styles.css" />
		<meta name="color-scheme" content="dark light">
		<link rel="stylesheet" href="/code-styles.css" />
		<meta name="robots" content="noai, noimageai">
		<meta name="title" content="{{ website.site_title }} - {{ title }}">
		<link rel="favicon" href="/assets/favicon.ico" />
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon.ico" />
		<link rel="alternate" type="application/rss+xml" title="Lex Feathers" href="/feed.rss">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Load main scripts file -->
		<script type="module" src="/assets/scripts.js"></script>
		<!-- Load wavebeem theme selector script -->
		<script type="module" src="/assets/scripts/wavebeem-theme-select.mjs"></script>
	</head>

	<body>
		{{ include "templates/header.vto" }}

		<main>
			{{ include "/templates/sidebar.vto" }}

			<section id="content" data-pagefind-body>
				{{# Basic breadcrumbs #}}
				<div data-pagefind-ignore="all">
					{{ if title != 'home' & type != 'posts' & type != 'tag' & type != 'projects' }}
						<a href="/" alt="Back to home" class="button"><- home</a>
					{{ /if }}
				</div>

				{{ if title != 'home' & type != 'posts' & type != 'projects' }}
					<h1>{{ title }}</h1>
					<hr class="faded">
				{{ /if }}
				
				{{ content |> safe }}
				
			</section>
		</main>

		<div class="footer-container">
			{{# Need to fix recursion to implement this #}}
			{{ if title != "transients" }}
				<div class="content-box smosts mobile-only">
					{{ include "partials/latest-transient.vto" }}
				</div>
			{{ /if }}
			{{ include "templates/footer.vto" }}
		</div>
		<!-- Set Markdown Alert marker icons -->
		<script defer>
			// Get Alert markers
				const noteMarker = document.querySelectorAll('.markdown-alert-note .markdown-alert-title');
				const tipMarker = document.querySelectorAll('.markdown-alert-tip .markdown-alert-title');
				const importantMarker = document.querySelectorAll('.markdown-alert-important .markdown-alert-title');
				const cautionMarker = document.querySelectorAll('.markdown-alert-caution .markdown-alert-title');
				const warningMarker = document.querySelectorAll('.markdown-alert-warning .markdown-alert-title');
			// Set Note alert icon
				noteMarker.forEach(marker => {
					marker.style.setProperty("--note-img", `url('{{ "journal-bookmark" |> icon("bootstrap") }}')`)
				});
			// Set Tip alert icon
				tipMarker.forEach(marker => {
					marker.style.setProperty("--tip-img", `url('{{ "lightbulb" |> icon("bootstrap") }}')`)
				});
			// Set Important alert icon
				importantMarker.forEach(marker => {
					marker.style.setProperty("--important-img", `url('{{ "bell" |> icon("bootstrap") }}')`)
				});
			// Set Caution alert icon
				cautionMarker.forEach(marker => {
					marker.style.setProperty("--caution-img", `url('{{ "exclamation-triangle" |> icon("bootstrap") }}')`)
				});
			// Set Warning alert icon
				warningMarker.forEach(marker => {
					marker.style.setProperty("--warning-img", `url('{{ "skull" |> icon("phosphor") }}')`)
				});
		</script>
	</body>
</html>