<!DOCTYPE html>
<html lang="en" data-theme="">
	<head>
		<meta charset="UTF-8">
		<title>{{ website.title }} - {{ title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/assets/styles.css" />
		<link rel="stylesheet" href="/code-styles.css" />
		<meta name="color-scheme" content="dark light">
		<meta name="robots" content="noai, noimageai">
		<link rel="favicon" href="/assets/favicon.ico" />
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon.ico" />
		<link rel="alternate" type="application/rss+xml" title="Lex Feathers" href="/feed.rss">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap" rel="stylesheet">
	</head>

	<body>
		{{ include "partials/header.vto" }}

		<main>
			{{ include "partials/sidebar.vto" }}

			<section id="content" data-pagefind-body>
				{{# Basic breadcrumbs #}}
				<div data-pagefind-ignore="all">
					{{ if title != 'home' & type != 'post' & type != 'tag' & type != 'project' }}
						<a href="/" alt="Back to home" class="button"><- home</a>
					{{ /if }}
				</div>

				{{ if title != 'home' & type != 'post' & type != 'project' }}
					<h1>{{ title }}</h1>
					<hr class="faded">
				{{ /if }}
				
				{{ content |> safe }}
				
			</section>
		</main>

		<div class="footer-container">
			{{ if title != "transients" && website.show_transients }}
				<div class="content-box smosts mobile-only">
					{{ include "partials/latest-transient.vto" }}
				</div>
			{{ /if }}
			{{ include "partials/footer.vto" }}
		</div>

		<!-- Load main scripts file -->
		<script type="module" src="/assets/scripts/global.js" defer></script>
		<!-- Set Markdown Alert marker icons -->
		<script src="/assets/scripts/markdown-alerts.js" defer></script>
		<!-- Load theme selector -->
		<script src="/assets/scripts/theme-selector.js" defer></script>
        <!-- Load lightbox -->
        <script src="/assets/scripts/lightbox.js" defer></script>
	</body>
</html>