{{# {{ set menuItems = search.pages("type=page", "order=asc") }}
{{ for menuItem of menuItems }}
<li class="menu-item">
  <a href="{{ menuItem.url }}">{{ menuItem.title }}</a>
</li>
{{ /for }} #}}

{{ for page of website.nav_menu }}
  <li class="menu-item">
    <a href="{{page.url}}">{{ page.title }}</a>
  </li>
{{ /for }}
