:root {
  /* Global variables */

  /* Layout */
  --page-width: 72rem;

  /* Key Colours */
  --colour-background: #141414;
  --colour-text: #fff0cc;
  --colour-secondary: #ff993a;

  /* Mixed colours */
  --colour-light-background: color-mix(in srgb, var(--colour-background) 98%, var(--colour-text) 2%);
  --colour-lighter-background: color-mix(in srgb, var(--colour-background), var(--colour-text) 5%);
  --colour-text-highlight: color-mix(in srgb, var(--colour-background) 85%, var(--colour-text) 15%);
  --colour-text-faded: color-mix(in srgb, var(--colour-background) 60%, var(--colour-text) 40%);

  /* Font sizing */
  --text-small: 14pt;
  --text-medium: 16pt;
  --text-large: 24pt;

  --sig-symbol: ' :';

  /* Pagefind search bar styles */
  --pagefind-ui-scale: 0.8;
  --pagefind-ui-primary: var(--colour-secondary);
  --pagefind-ui-text: var(--colour-text);
  --pagefind-ui-background: var(--colour-light-background);
  --pagefind-ui-border: var(--colour-text-faded);
  --pagefind-ui-tag: var(--colour-text);
  --pagefind-ui-border-width: 1px;
  --pagefind-ui-border-radius: 4px;
  --pagefind-ui-image-border-radius: 4px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: 'Fira Code', monospace;
}

@media (prefers-color-scheme: light) {
  :root {
    --colour-background: #fff6e0;
    --colour-text: #141414;
    --colour-secondary: #a90060;
  }

  *:not(.name) {
    font-weight: 400;
  }
}

/* Fonts */
@font-face {
  font-family: "Fira Code", monospace;
  src: url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap') format("truetype");
  font-optical-sizing: auto;
}

/* General styling */
* {
  color: var(--colour-text);
  font-family: 'Inter', sans-serif;
  /* Not sure why, but the font doesn't seem to _actually_ import with a font-weight of 300, so we're declaring it here. */
  font-weight: 300;
  line-height: 1.6;
}

/* Helpers */

.text-small {
  font-size: var(--text-small) !important;
}

.text-medium {
  font-size: var(--text-medium) !important;
}

.text-lage {
  font-size: var(--text-large) !important;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

body {
  background-color: var(--colour-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: var(--text-medium);
  max-width: var(--page-width);
  margin: auto;
  padding: 0 2rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

::selection {
  background: var(--colour-secondary);
  color: var(--colour-background);
  -webkit-text-fill-color: var(--colour-background);
}

.name {
  color: var(--colour-secondary);
}

#monogram {
  display: inline-block;
  /* margin-right: 1rem; */
  width: 20px;
  height: 20px;
  /* vertical-align: middle; */
  border: 2px solid var(--colour-secondary);
  /* border-radius: 16px; */
  rotate: 45deg;
  margin-right: 1rem;
  margin-left: 4px;
}

.name::after {
  content: var(--sig-symbol);
}


/* Pagefind search box */
#search {
  margin-top: 2rem;
}

.pagefind-ui__search-input,
.pagefind-ui__result-title {
  font-weight: 300 !important;
  background-color: var(--colour-light-background);
}

.pagefind-ui__result {
  background-color: var(--colour-background);
  border: var(--pagefind-ui-border-width) solid var(--colour-text-faded) !important;
  border-radius: 4px;
  margin: 1rem 0;
}

.pagefind-ui__result-inner {
  margin: auto 2rem;
}

.pagefind-ui__result-image {
  padding: 0.25rem;
  margin: auto 1.5rem;
}

.pagefind-ui__result mark {
  background-color: var(--colour-text-highlight);
  color: var(--colour-text);
  padding: 2px;
}

/* This is where the page content and the sidebar go. */
main {
  display: flex;
  /* flex-direction: row; */
  column-gap: 1rem;
  /* margin: 0 0 2rem 0; */
  flex: 1 0 auto;
  border: var(--colour-text);
}

main * {
  background-color: var(--colour-light-background);
}

.subheading {
  font-size: smaller;
  color: var(--colour-secondary);
}

.author {
  font-size: var(--text-small);
}

.faded {
  opacity: 0.6;
}

.date {
  font-size: var(--text-small);
}

.banner {
  max-height: 240px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 4px 4px var(--colour-background);
}

.banner img {
  width: 100%;
  vertical-align: middle;
  height: auto;
  filter: sepia(1);
}

article img:not(.banner > img, .cool-links img) {
  max-width: 100%;
  border-radius: 4px;
}

audio {
  display: block;
  margin: 2rem auto;
  width: 100%;
  border-radius: 4px;
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  max-width: 80%;
}

article:has(.homepage-excerpt) {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

article.homepage-excerpt {
  min-height: 100%;
}

.homepage-excerpt {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: flex-start;
  margin: 1rem 0;
}

.homepage-excerpt figure {
  z-index: 0;
  margin: 1rem 0 0 0;
  max-height: 24ch;
  overflow: hidden;
  background: -webkit-linear-gradient(var(--colour-text), var(--colour-text), var(--colour-text), var(--colour-text), rgba(0, 0, 0, 0.0));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  min-width: 100%;
  text-align: left;
}

summary {
  cursor: pointer;
}

/* 
.homepage-excerpt-container div:nth-child(2)::after {
  content: '[...]';
  margin: 0.5rem 0;
  display: block;
} 
*/

.homepage-excerpt h3 {
  margin: 0 0 1rem 0;
}

.homepage-excerpt-date {
  color: var(--colour-secondary);
  font-size: var(--text-small);
}

.homepage-excerpt-container {
  display: flex;
  flex-direction: row;
}

.homepage-excerpt-container figure figure>img,
.homepage-excerpt-container figcaption {
  display: none;
}

.homepage-excerpt-content {
  width: 100%;
}

.read-more span {
  padding: 8px;
  background-color: var(--colour-secondary);
  color: var(--colour-background);
  border-radius: 4px;
}

/* .directory .date {
  margin-left: 2.4rem;
} */
.directory-card {
  display: flex;
  align-items: baseline;
}

.directory-card div {
  display: inline-flex;
  padding: 1rem;
  background-color: var(--colour-lighter-background);
  margin: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: 0px 4px 8px var(--colour-background);
  border: 1px solid var(--colour-background);
  flex-grow: 1  ;
}
.directory-card div:hover {
  background-color: color-mix(
    in hsl, 
    var(--colour-lighter-background) 90%, 
    var(--colour-text-faded) 10%
  );
  transition: 50ms;
}
.directory-card a, .directory-card .date {
  background-color: inherit;
}
.directory-card div a:hover .date {
  text-decoration: none;
}
.directory-card__link {
  width: 100%;
}
.directory-card__link *:not(.date) {
  color: inherit;
  background-color: inherit;
}

.date::before {
  content: ' - ';
}

.directory .date::before {
  content: none;
}

header nav {
  display: none;
}

#sidebar,
#content,
.content-box {
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.4);
}

.content-box {
  padding: 1rem 0;
}

.content-box,
.content-box * {
  background-color: var(--colour-lighter-background);
}

.content-box ul {
  padding: 0 1rem;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 250px;
  flex: 1 3 auto;
}

#sidebar * {
  max-width: 100%;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#sidebar ul li {
  font-size: var(--text-small);
  line-height: 1.6rem;
  max-width: calc(100% - calc(1rem + 4px));
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "...";
}

#sidebar a {
  text-decoration: none;
}

#sidebar a:hover {
  text-decoration: underline;
}

#sidebar .directory li::before,
.directory li::before {
  content: '⟣';
  color: var(--colour-text);
  margin-right: 1rem;
  font-size: smaller;
}

.footer-container-sidebar {
  margin-top: auto;
}

#sidebar footer {
  justify-self: flex-end;
  padding-top: 0;
}

#sidebar footer * {
  flex-direction: column;
}

#sidebar footer .copyright {
  display: none;
}

#sidebar .rss {
  display: none;
}

/* The little guy at the bottom of the sidebar. Currently hidden on mobile */
#sidebar-character {
  display: flex;
  /* margin-top: auto; */
  overflow: hidden;
  max-width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 2px solid var(--colour-secondary);
  box-shadow: 0px 4px 4px black;
}

#sidebar-character img {
  width: 100%;
  object-fit: cover;
}

#post-dir {
  display: flex;
  flex-direction: row;
}

.margin-bar {
  background-color: var(--colour-text-highlight);
  /* width: 4px; */
  min-width: 4px;
  margin: 0 1rem 0 0;
  border-radius: 4px;
}

#post-dir menu {
  width: 100%;
  padding-left: 0;
  margin: 0;
}

#post-dir li:not(:last-child) {
  margin-bottom: .25rem;
}

#content {
  flex: 3 1 auto;
}

/* Do not apply bottom padding to the homepage */
#content article:not(:has(.homepage-excerpt)) {
  padding: 0 0 2rem 0;
}

a {
  color: var(--colour-secondary);
}

.excerpt {
  padding-bottom: 1rem;
}

.excerpt figure {
  padding: 1rem 0;
}

.button {
  margin: 2rem 0;
  font-size: var(--text-small);
}

.button.is-primary {
  background-color: var(--colour-secondary);
  color: var(--colour-background);
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  margin: 0;
}

#sidebar .button::before {
  content: '-> ';
  color: var(--colour-text);
}

a.external:not(a:has(img)):after {
  content: '↗';
  font-family: 'Fira Code', monospace;
  color: var(--colour-text);
  padding-left: 2px;
  font-size: 10pt;
  vertical-align: top;
  opacity: 0.4;
}

/* Image handling */
figure img {
  margin: auto;
  /* border: 2px solid var(--colour-secondary); */
  border-radius: 8px;
  box-shadow: 0px 6px 4px var(--colour-background);
  max-width: 100%;
}

figure.hero-img {
  max-width: 100%;
}

figure.hero-img img {
  border: none;
  max-width: 100%;
}

figure.right {
  max-width: 60%;
}

figcaption {
  /* font-style: italic; */
  opacity: 0.6;
  margin: 0.5rem 0 2rem 0;
}

/* For floating images in a body of text, magazine-style. 
   Generally, we want to apply this to a <figure> element. */
.right {
  float: right;
  margin-left: 2rem !important;
}

/* Markdown code elements */
code {
  padding: 2px 4px;
  border-radius: 4px;
  background-color: var(--colour-text-highlight);
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
}

.directory {
  list-style: none;
  overflow: hidden;
  text-overflow: '...';
  padding-left: 0;
}

/* Header styles */
header {
  display: flex;
  align-items: baseline;
}

header h1 a {
  font-weight: 100;
  text-decoration: none;
}

/* Tag list that appears at the bottom of a post */
div.tags {
  margin-top: 4rem;
  font-size: var(--text-small);
}

ul.taglist {
  padding-left: 0px;
  list-style: none;
  margin-bottom: 0;
}

.taglist li {
  display: inline;
}

.taglist li:not(:last-child)::after {
  content: ',';
}

/* Nav menu */
.menu {
  display: flex;
}

.menu-item {
  margin-right: 1.5rem;
  list-style: none;
}

.menu-item a {
  text-decoration: none;
}

.menu-item a:hover {
  text-decoration: underline;
}

/* Footer styles */
.footer-container {
  display: flex;
}

.footer-container footer {
  justify-content: space-between;
}

.footer-container .menu {
  display: none;
}

footer {
  padding: 2rem 0;
  font-size: var(--text-small);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

footer .menu {
  padding-left: 0;
  margin: 2rem 0;
}

footer a {
  text-decoration: none;
}

.cool-links img {
  image-rendering: pixelated;
  width: 178px;
  height: 62px;
}

.cool-links a:hover {
  border-bottom: 4px solid var(--colour-secondary);
  opacity: 0.9;
  text-decoration: none;
  transition: 0.2s;
}

textarea, input {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid var(--colour-secondary);
  border-radius: 4px;
  background-color: var(--colour-background);
  font-size: 16px;
  resize: none;
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--colour-secondary);
  transition: box-shadow 0.1s ease;
}

#eggbug-bye {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  float: right;
  filter: sepia(0.5);
  border-radius: 2px;
}

iframe[title="YouTube video player"] {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 425px;
  border-radius: 4px;
}

/* Mobile styling */
@media screen and (max-width:749px) {
  body {
    width: auto;
    padding: 0 1rem;
    font-size: var(--text-small);
  }

  header h1 a {
    text-decoration: none;
  }

  header nav {
    display: block;
    margin-left: 4px;
  }

  .directory-card::before {
    display: none;
  }
  .directory-card div {
    margin-left: 0;
    margin-right: 0;
  }

  .right {
    float: right;
    margin-left: 1rem !important;
  }

  header {
    flex-direction: column;
  }

  header * {
    font-size: var(--text-medium);
    vertical-align: middle;
  }

  h1,
  h2,
  h3 {
    font-size: revert;
  }

  header .menu li:first-child {
    display: none;
  }

  header .menu a {
    font-size: var(--text-small);
  }

  header .name {
    font-size: 20pt;
  }

  .menu {
    flex-direction: row;
    padding-left: 0;
  }

  audio {
    max-width: 100%;
  }

  figure {
    max-width: 100%;
  }

  footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .rss {
    display: none;
  }

  .menu-item .rss {
    display: block;
  }

  footer a {
    font-size: var(--text-small);
  }

  .menu {
    flex-wrap: wrap;
  }

  main {
    flex-direction: column;
    row-gap: 1rem;
  }

  #sidebar,
  #content {
    padding: 1rem;
  }

  #sidebar {
    display: none;
  }

  .footer-container-sidebar {
    display: none;
  }

  .footer-container,
  .footer-container .menu {
    display: block;
  }

  .cool-links {
    text-align: center;
  }

  .cool-links img {
    width: 88px;
    height: 31px;
  }

  .pagefind-ui__result-image {
    padding: 0rem;
  }
}

/* Giscus colour scheme below: */
/*!
 * Modified from GitHub's Dark Dimmed theme, licensed under the MIT License
 * Copyright (c) 2018 GitHub Inc.
 * https://github.com/primer/primitives/blob/main/LICENSE
 */
 main {
  --color-prettylights-syntax-comment: #768390;
  --color-prettylights-syntax-constant: #6cb6ff;
  --color-prettylights-syntax-entity: #dcbdfb;
  --color-prettylights-syntax-storage-modifier-import: #adbac7;
  --color-prettylights-syntax-entity-tag: #8ddb8c;
  --color-prettylights-syntax-keyword: #f47067;
  --color-prettylights-syntax-string: #96d0ff;
  --color-prettylights-syntax-variable: #f69d50;
  --color-prettylights-syntax-brackethighlighter-unmatched: #e5534b;
  --color-prettylights-syntax-invalid-illegal-text: #cdd9e5;
  --color-prettylights-syntax-invalid-illegal-bg: #922323;
  --color-prettylights-syntax-carriage-return-text: #cdd9e5;
  --color-prettylights-syntax-carriage-return-bg: #ad2e2c;
  --color-prettylights-syntax-string-regexp: #8ddb8c;
  --color-prettylights-syntax-markup-list: #eac55f;
  --color-prettylights-syntax-markup-heading: #316dca;
  --color-prettylights-syntax-markup-italic: #adbac7;
  --color-prettylights-syntax-markup-bold: #adbac7;
  --color-prettylights-syntax-markup-deleted-text: #ffd8d3;
  --color-prettylights-syntax-markup-deleted-bg: #78191b;
  --color-prettylights-syntax-markup-inserted-text: #b4f1b4;
  --color-prettylights-syntax-markup-inserted-bg: #1b4721;
  --color-prettylights-syntax-markup-changed-text: #ffddb0;
  --color-prettylights-syntax-markup-changed-bg: #682d0f;
  --color-prettylights-syntax-markup-ignored-text: #adbac7;
  --color-prettylights-syntax-markup-ignored-bg: #255ab2;
  --color-prettylights-syntax-meta-diff-range: #dcbdfb;
  --color-prettylights-syntax-brackethighlighter-angle: #768390;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #545d68;
  --color-prettylights-syntax-constant-other-reference-link: #96d0ff;
  --color-btn-text: var(--colour-background);
  --color-btn-bg: var(--colour-secondary);
  --color-btn-border: var(--colour-background);
  --color-btn-shadow: 0 0 var(--colour-background);
  --color-btn-inset-shadow: 0 0 var(--colour-background);
  --color-btn-hover-bg: #444c56;
  --color-btn-hover-border: #768390;
  --color-btn-active-bg: #3d444d;
  --color-btn-active-border: #636e7b;
  --color-btn-selected-bg: #2d333b;
  --color-btn-primary-text: var(--colour-background);
  --color-btn-primary-bg: var(--colour-secondary);
  --color-btn-primary-border: #cdd9e51a;
  --color-btn-primary-shadow: 0 0 #0000;
  --color-btn-primary-inset-shadow: 0 0 #0000;
  --color-btn-primary-hover-bg: #46954a;
  --color-btn-primary-hover-border: #cdd9e51a;
  --color-btn-primary-selected-bg: #347d39;
  --color-btn-primary-selected-shadow: 0 0 #0000;
  --color-btn-primary-disabled-text: #cdd9e580;
  --color-btn-primary-disabled-bg: #347d3999;
  --color-btn-primary-disabled-border: #cdd9e51a;
  --color-action-list-item-default-hover-bg: #909dab1f;
  --color-segmented-control-bg: #636e7b1a;
  --color-segmented-control-button-bg: #22272e;
  --color-segmented-control-button-selected-border: #636e7b;
  --color-fg-default: #adbac7;
  --color-fg-muted: #768390;
  --color-fg-subtle: #545d68;
  --color-canvas-default: #192734;
  --color-canvas-overlay: #161b22;
  --color-canvas-inset: #15202b;
  --color-canvas-subtle: #253341;
  --color-border-default: #444c56;
  --color-border-muted: #373e47;
  --color-neutral-muted: #636e7b66;
  --color-accent-fg: #539bf5;
  --color-accent-emphasis: #316dca;
  --color-accent-muted: #4184e466;
  --color-accent-subtle: #388bfd1a;
  --color-success-fg: #57ab5a;
  --color-attention-fg: #c69026;
  --color-attention-muted: #ae7c1466;
  --color-attention-subtle: #ae7c1426;
  --color-danger-fg: #e5534b;
  --color-danger-muted: #e5534b66;
  --color-danger-subtle: #e5534b1a;
  --color-primer-shadow-inset: 0 0 #0000;
  --color-scale-gray-7: #373e47;
  --color-scale-blue-8: #143d79;

  /*! Extensions from @primer/css/alerts/flash.scss */
  --color-social-reaction-bg-hover: var(--color-scale-gray-7);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8);
}
main .pagination-loader-container {
  background-image: url(https://github.com/images/modules/pulls/progressive-disclosure-line-dark.svg);
}

/*! Custom CSS */
.gsc-reactions-count {
  display: none;
}
.gsc-timeline {
  flex-direction: column-reverse;
}
.gsc-header {
  padding-bottom: 1rem;
}
.gsc-comments > .gsc-header {
  order: 1;
}
.gsc-comments > .gsc-comment-box {
  margin-bottom: 1rem;
  order: 2;
}
.gsc-comments > .gsc-timeline {
  order: 3;
}
.gsc-homepage-bg {
  background-color: #15202b;
}
main .gsc-loading-image {
  background-image: url(https://github.githubassets.com/images/mona-loading-dimmed.gif);
}
/* End of giscus colours */