:root {
  /* Layout */
    --page-width: 72rem;
    --radius: 4px;

  /* Colours */
    color-scheme: light dark;
    --colour-background: #141414;
    --colour-secondary: #ff993a;
    --colour-text: color-mix(in srgb, var(--colour-secondary), white 80%);
    --colour-cw-background: #7c2447;
    --colour-cw-text: #fff0cc;
    /* Dark theme - make sure to update this as well if changing the main theme! */
      --colour-background-darkmode: #141414;
      --colour-secondary-darkmode: #ff993a;
      --colour-text-darkmode: color-mix(in srgb, var(--colour-secondary-darkmode), white 80%);
    /* Light theme */
      --colour-background-lightmode: #fff6f0;
      --colour-secondary-lightmode: #a90060;
      --colour-text-lightmode: color-mix(in srgb, var(--colour-secondary-lightmode), black 90%);
    /* Mixed colours */
      --colour-dark-background: color-mix(in srgb, var(--colour-background), black 20%);
      --colour-light-background: color-mix(in srgb, var(--colour-background) 98%, var(--colour-text) 2%);
      --colour-lighter-background: color-mix(in srgb, var(--colour-background), var(--colour-text) 5%);
      --colour-text-highlight: color-mix(in srgb, var(--colour-background) 85%, var(--colour-text) 15%);
      --colour-text-faded: color-mix(in srgb, var(--colour-background) 60%, var(--colour-text) 40%);
    scrollbar-color: var(--colour-secondary) var(--colour-lighter-background);

  /* Typography */
    --family-sans: 'Inter', sans-serif;
    --family-serif: 'Georgia', serif;
    --family-code: 'Fira Code', monospace;
    --text-small: 14pt;
    --text-medium: 16pt;
    --text-large: 24pt;

  /* Misc */
    --sig-symbol: ' :';

  /* Pagefind search bar styles */
    --pagefind-ui-scale: 0.8;
    --pagefind-ui-primary: var(--colour-secondary);
    --pagefind-ui-text: var(--colour-text);
    --pagefind-ui-background: var(--colour-light-background);
    --pagefind-ui-border: var(--colour-text-faded);
    --pagefind-ui-tag: var(--colour-text);
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-border-radius: 4px;
    --pagefind-ui-image-border-radius: 4px;
    --pagefind-ui-image-box-ratio: 3 / 2;
    --pagefind-ui-font: 'Fira Code', monospace;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --colour-background: var(--colour-background-lightmode);
    --colour-secondary: var(--colour-secondary-lightmode);
    --colour-text: var(--colour-text-lightmode);
  }
} */

/* JS Theme selector */
  /* Styles for before the component has loaded */
  :root,
  /* Styles for after the component has loaded */
  :root[data-theme="light"] {
    --colour-background: var(--colour-background-lightmode);
    --colour-text: var(--colour-text-lightmode);
    --colour-secondary: var(--colour-secondary-lightmode);
    background-color: var(--colour-background);
    color: var(--colour-text);
    font-weight: 600;
    & :not(.name) {
      font-weight: 350;
    }
    & article.post p {
      font-weight: 350 !important;
    }
    & audio {
        filter: hue-rotate(150deg) drop-shadow(0px 6px 8px var(--colour-text));
    }
  }
  /* Styles when dark mode set by JS */
  :root[data-theme="dark"] {
    --colour-background: var(--colour-background-darkmode);
    --colour-text: var(--colour-text-darkmode);
    --colour-secondary: var(--colour-secondary-darkmode);
    & :not(.name) {
      font-weight: 300;
    }
    & article.post p {
      font-weight: 300 !important;
    }
    & audio {
        filter: hue-rotate(200deg) contrast(80%) drop-shadow(0px 6px 8px var(--colour-background));
    }
  }
/* End theme selector */

/* Fonts */
@font-face {
  font-family: var(--family-code);
  src: url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap') format("truetype");
  font-optical-sizing: auto;
}

/* General styling */
* {
  color: var(--colour-text);
}
/* Helpers */

.text-small {
  font-size: var(--text-small) !important;
}

.text-medium {
  font-size: var(--text-medium) !important;
}

.text-lage {
  font-size: var(--text-large) !important;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

body {
  font-family: var(--family-sans);
  font-weight: 300;
  line-height: 1.6;
  background-color: var(--colour-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: var(--text-small);
  max-width: var(--page-width);
  margin: auto;
  padding: 0 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1.6;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

article:not(.homepage-excerpt) a {
  text-decoration: underline;
}

::selection {
  background: var(--colour-secondary);
  color: var(--colour-background);
  -webkit-text-fill-color: var(--colour-background);
}
mark {
  background-color: var(--colour-secondary);
  color: var(--colour-background);
  font-weight: 600 !important;
}

blockquote {
  font-style: italic;
  font-size: var(--text-large);
  font-family: var(--family-serif);
}

/* Markdown Alerts */
.markdown-alert {
  padding: .5rem 1rem;
  background-color: color-mix(in srgb, var(--colour-secondary), var(--colour-lighter-background) 90%) !important;
  border: 1px solid var(--colour-secondary);
  border-left: 6px solid var(--colour-secondary);
  border-radius: 0 var(--radius) var(--radius) var(--radius);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  color: var(--colour-text) !important;
  margin: 1rem 0;
  & .markdown-alert-title {
    color: var(--colour-secondary);
    font-size: var(--text-small);
    font-weight: normal;
    margin-top: 1rem;
    padding-bottom: .5rem;
    &::before {
      padding: 1rem;
      margin-right: .5rem;
      content: '!'; /* Fallback */
    }
  }
  &.markdown-alert-note {
    --colour-secondary: #0082c7;
    & .markdown-alert-title::before {
      content: '';
      background-color: var(--colour-secondary);
      mask: var(--note-img);
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
    }
  }
  &.markdown-alert-tip {
    --colour-secondary: #00a000;
    & .markdown-alert-title::before {
      content: '';
      background-color: var(--colour-secondary);
      mask: var(--tip-img);
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
    }
  }
  &.markdown-alert-important {
    --colour-secondary: magenta;
    & .markdown-alert-title::before {
      content: '';
      background-color: var(--colour-secondary);
      mask: var(--important-img);
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
    }
  }
  &.markdown-alert-caution {
    --colour-secondary: #cc8500;
    & .markdown-alert-title::before {
      content: '';
      background-color: var(--colour-secondary);
      mask: var(--caution-img);
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
    }
  }
  &.markdown-alert-warning {
    --colour-secondary: red;
    & .markdown-alert-title::before {
      content: '';
      background-color: var(--colour-secondary);
      mask: var(--warning-img);
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
    }
  }
}
/* End Markdown Alerts */

.name {
  color: var(--colour-secondary);
  &::after {
    content: var(--sig-symbol);
  }
}

#monogram {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid var(--colour-secondary);
  border-radius: 3px;
  rotate: 45deg;
  margin-right: 1rem;
  margin-left: 4px;
}

/* Pagefind search box */
#search {
  margin-top: 2rem;
}
.pagefind-ui__search-input,
.pagefind-ui__result-title {
  font-weight: 300 !important;
  background-color: var(--colour-light-background);
}
.pagefind-ui__result {
  background-color: var(--colour-background);
  border: var(--pagefind-ui-border-width) solid var(--colour-text-faded) !important;
  border-radius: 4px;
  margin: 1rem 0;
}
.pagefind-ui__result-inner {
  margin: auto 2rem;
}
.pagefind-ui__result-image {
  padding: 0.25rem;
  margin: auto 1.5rem;
}
.pagefind-ui__result mark {
  background-color: var(--colour-text-highlight);
  color: var(--colour-text);
  padding: 2px;
}
/* Pagefind end */

/* This is where the page content and the sidebar go. */
main {
  display: flex;
  /* flex-direction: row; */
  column-gap: 1rem;
  /* margin: 0 0 2rem 0; */
  flex: 1 0 auto;
  border: var(--colour-text);
}

main > * {
  background-color: var(--colour-light-background);
}

.subheading {
  font-size: smaller;
  color: var(--colour-secondary);
}

.author {
  font-size: var(--text-small);
}

.faded {
  opacity: 0.69;
}

.date {
  font-size: var(--text-small);
}

.banner {
  max-height: 240px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 4px 4px var(--colour-background);
}

.banner img {
  width: 100%;
  vertical-align: middle;
  height: auto;
  /* filter: sepia(1); */
}

article img:not(.banner > img, .cool-links img) {
  max-width: 100%;
  border-radius: 4px;
  width: 100%;
}

audio {
  display: block;
  margin: 2rem auto;
  width: 100%;
  border-radius: 4px;
  /* filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%); */
  max-width: 90%;
}

/* Footnotes */
.footnotes-sep {
  display: none;
}
.footnotes {
  border: 2px solid var(--colour-text-highlight);
  border-radius: 4px;
  padding-right: 1rem;
}
.footnotes-list {
  font-size: var(--text-small);
}
.footnote-item, .footnote-item p {
  font-weight: 250; 
  line-height: 1.5;
}
.footnote-ref > a, a.footnote-backref {
  text-decoration: none;
}
.footnote-item > p > img {
  /* border: 1px solid var(--colour-text-faded); */
  box-shadow: 0px 4px 8px var(--colour-background);
  border-radius: 4px;
}

article:has(.homepage-excerpt) {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

article.homepage-excerpt {
  min-height: 100%;
}

.homepage-excerpt {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: flex-start;
  margin: 1rem 0;
}

.homepage-excerpt figure {
  z-index: 0;
  margin: 1rem 0 0 0;
  max-height: 24ch;
  overflow: hidden;
  /* background: -webkit-linear-gradient(var(--colour-text), var(--colour-text), var(--colour-text), var(--colour-text), rgba(0, 0, 0, 0.0));
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: var(--colour-text) !important;
  min-width: 100%;
  text-align: left;
}

summary {
  cursor: pointer;
}

/* Theme selector, but also all selectors. */
select, select option {
  background-color: var(--colour-background);
  border: 2px solid var(--colour-secondary);
  border-radius: 8px;
  height: 2rem;
} 

.homepage-excerpt h3 {
  margin: 0 0 1rem 0;
}

.homepage-excerpt-date {
  color: var(--colour-secondary);
  font-size: var(--text-small);
}

.homepage-featured-container {
  display: flex;
  flex-direction: column;
}

.read-more span {
  padding: 8px;
  background-color: var(--colour-secondary);
  color: var(--colour-background);
  border-radius: 24px;
  text-align: right;
  word-break: keep-all;
  align-self: center;
  line-height: 54px;
}

/* Directory cards */
.directory-card {
  display: flex;
  align-items: baseline;
  margin: 0 0 1rem 0;
  width: 100%;
  &:last-child {
    margin-bottom: 0;
  }
  & a, 
  & .date {
    background-color: inherit;
    & .icon-letter {
      margin-left: -3px;
    }
  }
}
.directory-card div {
  display: inline-flex;
  flex-grow: 1;
  margin: 0;
  padding: 1rem;
  background-color: var(--colour-lighter-background);
  border: 1px solid var(--colour-text-faded);
  border-radius: 8px;
  box-shadow: 0px 4px 8px var(--colour-background);
  transition: 140ms;
  &:hover {
    background-color: color-mix(
      in hsl, 
      var(--colour-lighter-background), 
      var(--colour-text-faded) 15%
    );
  }
  & a:hover .date {
    text-decoration: none;
  }
  & .directory-card__link {
    width: 100%;
    padding-left: 1rem;
    &:hover {
      text-decoration: none;
    }
    & *:not(.date) {
      color: inherit;
      background-color: inherit;
    }
    & .card-excerpt {
      color: var(--colour-text)!important;
      margin: 1rem 0 0;
    }
  }
  & .card-image__link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    height: 150px;
    overflow: hidden;
    margin: auto 0;
    border-radius: 8px;
    & .card-image {
      width: 320px;
      max-width: 100%;
      min-height: 100%;
      object-fit: cover;
      height: auto;
      background-color: var(--colour-lighter-background);
    }
  }
}
.card-image__link____noimage {
  border: 2px solid var(--colour-background);
}
/* End directory */

.fundivs-container {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  min-width: 250px; /* Use this to keep the sidebar from changing widths when the post list isn't visible */
}
.fundivs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  opacity: .7;
}
.fundivs:not(:last-child) {
  margin-right: 1rem;
}
.fundiv {
  display: flex;
  height: 10px;
  color: var(--colour-background);
  margin-bottom: 1rem;
  border-radius: 8px;
  background-color: var(--colour-background);
  box-shadow: 0px 4px 4px var(--colour-dark-background) inset;
}

.date:not(.excerpt-date)::before {
  content: ' - ';
}

.directory .date::before {
  content: none;
}

header nav {
  display: none;
}

#sidebar,
#content,
.content-box {
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.4);
}

.content-box {
  padding: 1rem 0;
}

.content-box,
.content-box * {
  background-color: var(--colour-lighter-background);
}

.content-box ul {
  padding: 0 1rem;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 250px;
  flex: 1 3 auto;
}

#sidebar * {
  max-width: 100%;
}
#sidebar .directory h3 {
  margin-top: 0;
}
#sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  &.post-list li a:focus {
    box-shadow: inset 0px 0px 0px 3px var(--colour-secondary);
  }
}
#sidebar footer ul li a:focus {
  box-shadow: inset 0px 0px 0px 3px var(--colour-secondary);
  outline: none;
}

#sidebar ul li {
  font-size: var(--text-small);
  line-height: 1.6rem;
  max-width: calc(100% - calc(1rem + 4px));
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#sidebar a {
  text-decoration: none;
}

#sidebar a:hover {
  text-decoration: underline;
}

#sidebar .directory li::before {
  content: '⟣';
  color: var(--colour-text);
  margin-right: 1rem;
  font-size: smaller;
}

.footer-container-sidebar {
  margin-top: auto;
}

#sidebar footer {
  justify-self: flex-end;
  padding-top: 0;
}

#sidebar footer * {
  flex-direction: column;
}

#sidebar footer .copyright {
  display: none;
}

#sidebar .utility-links,
#sidebar .utility-link {
  display: none;
}

#post-dir {
  display: flex;
  flex-direction: row;
}

.margin-bar {
  background-color: var(--colour-text-highlight);
  min-width: 4px;
  margin: 0 1rem 0 0;
  border-radius: 4px;
}

#post-dir menu {
  width: 100%;
  padding-left: 0;
  margin: 0;
}

#post-dir li:not(:last-child) {
  margin-bottom: .25rem;
}

#content {
  flex: 3 1 auto;
}

/* Do not apply bottom padding to the homepage */
#content article:not(.homepage-excerpt) {
  padding: 0 0 2rem 0;
}

a {
  color: var(--colour-secondary);
}

.icon {
  align-items: center;
  font-family: var(--family-code) !important;
  display: inline-flex;
  height: 24px;
  justify-content: center;
  line-height: 0;
  width: 24px;
}

/* Theme selector basic styling */
#theme-selector {
  background: none;
  border: none;
  cursor: pointer;
  vertical-align: middle;
}
#theme-selector .icon {
  color: var(--colour-secondary);
  font-size: 2.5rem;
  font-family: monospace !important;
  transition: ease-out 400ms;
}
.rotated {
  rotate: 540deg;
}
.hueshift {
  /* filter: hue-rotate(295deg); */
  filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(295deg);
}
.banner > img {
  transition: ease-out .75s;
}

.icon-lightbulb {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: var(--colour-secondary);
  fill: var(--colour-secondary);
  color: var(--colour-secondary);
}
.icon-lightbulb__div {
  scale: 1.2;
  background-color: var(--colour-secondary);
  -webkit-mask: url(/assets/images/contrast.svg) no-repeat center / contain;
  mask: url(/assets/images/contrast.svg) no-repeat center / contain;
  transition: .25s;
}
#icon-lightbulb path {
  scale: 1.4;
}
footer #theme-select-container {
  display: none;
}

.excerpt {
  padding-bottom: 1rem;
}

.excerpt figure {
  padding: 1rem 0;
}

.button {
  margin: 2rem 0;
  font-size: var(--text-small);
}

.button.is-primary {
  background-color: var(--colour-secondary);
  color: var(--colour-background);
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  margin: 0;
}

#sidebar .button::before {
  content: '-> ';
  color: var(--colour-text);
}

a.external:not(a:has(img)):after {
  content: '↗';
  font-family: var(--family-code);
  color: var(--colour-text);
  padding-left: 2px;
  font-size: 10pt;
  vertical-align: top;
  opacity: 0.4;
}

/* Grid! */
.grid {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  align-items: center;
}
@media screen and (max-width: 749px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
.grid-item {
  background-color: var(--colour-lighter-background);
  border: 1px solid var(--colour-text-faded);
  border-radius: 4px;
  height: auto;
  box-shadow: 0px 4px 8px var(--colour-dark-background);
  padding: 1rem;
  align-self: stretch;
  transition: ease-out 200ms;
}
.grid-item h3 {
  color: var(--colour-secondary);
  font-size: var(--text-medium);
  margin-bottom: 0;
  margin-top: 1rem;
}
.grid-item h3:hover {
  text-decoration: underline;
}
.grid-item__details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: space-between;
}
.grid-item:hover {
  background-color: 
  color-mix(
    in srgb, 
    var(--colour-lighter-background), 
    var(--colour-text) 
    2%
  );
  translate: 0 -3px;
}
.grid-item a:hover {
  text-decoration: none;
}
.grid-item__media {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  align-content: center;
  display: grid;
  border-radius: 8px;
}
.grid-item__information {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.grid-item__information > p {
  font-size: calc(var(--text-small) - 4pt);
  margin: 0.4rem 0;
}
.grid-item__client {
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  border-bottom: 1px solid var(--colour-text-faded);
}
.grid-item__client .icon {
  border: 1px solid var(--colour-text-faded);
  border-radius: 4px;
  /* background-color: var(--colour-background); */
  box-shadow: inset 0px 4px 2px var(--colour-dark-background);
  margin-right: .25rem;
  padding: 1px;
}
.grid-item__worktype {
  font-family: var(--family-code);
  font-size: calc(var(--text-small) * 0.8);
}
.grid-item img {
  width: 100%;
  height: auto;
}

/* Content Warnings */
.content-warnings {
  padding: 1rem;
  border-radius: 6px;
  border: 2px solid var(--colour-lighter-background);
  transition: .4s;
}
details[open].content-warnings {
  border-radius: 6px;
  border: 2px solid var(--colour-cw-background);
}
.content-warnings, .content-warnings > * {
  background: var(--colour-background) !important;
  margin: .5rem 0;
}
.content-warnings ul {
  list-style: none;
  padding-left: 0;
}
.content-warnings li {
  display: inline;
  background: var(--colour-background) !important;
}
.content-warnings li:not(:last-child)::after {
  content: ',';
}
details.content-warnings {
  margin: 2rem auto;
}
.content-warnings>summary {
  font-size: 18pt;
  border-radius: 4px;
}
.content-warnings>summary::marker {
  content: none;
}
.content-warnings>summary::after {
  content: " ...";
}
details[open] summary::after {
  content: ' ↴';
}
details.content-warnings[open] summary::marker {
  content: none;
}
/* End content warnings */

/* Image handling */
figure img {
  margin: auto;
  /* border: 2px solid var(--colour-secondary); */
  border-radius: 8px;
  box-shadow: 0px 6px 4px var(--colour-background);
  max-width: 100%;
}

figure.hero-img {
  max-width: 100%;
}

figure.hero-img img {
  border: none;
  max-width: 100%;
}

figure.right {
  max-width: 60%;
}

figcaption {
  /* font-style: italic; */
  opacity: 0.6;
  margin: 0.5rem 0 2rem 0;
}

/* For floating images in a body of text, magazine-style. 
   Generally, we want to apply this to a <figure> element. */
.right {
  float: right;
  margin-left: 2rem !important;
}

/* Markdown code elements */
/* Inline code */
code {
  padding: 0 4px;
  /* border-radius: 4px; */
  background-color: var(--colour-text-highlight);
  font-family: var(--family-code);
  font-optical-sizing: auto;
  font-weight: 300;
}

/* Code blocks */
pre:has(code) {
  background-color: var(--colour-background);
  padding: 1rem;
  border-radius: 4px;
  overflow: scroll;
}
pre > code {
  background-color: var(--colour-background);
  padding-left: 0;
  padding-right: 0;
}

.directory {
  list-style: none;
  overflow: hidden;
  text-overflow: '...';
  padding-left: 0;
}

/* Header styles */
header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

header h1 a:hover {
  text-decoration: none;
}
header h1 a .name {
  border-bottom: 0px solid var(--colour-secondary);
  border-radius: 1px;
  transition: 80ms;
}
header h1 a .name:hover {
  border-bottom: 3px solid var(--colour-secondary);
  border-radius: 1px;
}

/* Tag list that appears at the bottom of a post */
div.tags {
  margin-top: 4rem;
  font-size: var(--text-small);
}

ul.taglist {
  padding-left: 0px;
  list-style: none;
  margin-bottom: 0;
}

.taglist li {
  display: inline;
}

.taglist li:not(:last-child)::after {
  content: ',';
}

/* Nav menu */
.menu {
  display: flex;
}
@media screen and (max-width: 749px) {
  .menu {
    margin-top: 0;
  }
}

.menu-item {
  margin-right: 1.5rem;
  list-style: none;
}

.menu-item a {
  text-decoration: none;
}

.menu-item a:hover {
  text-decoration: underline;
}

/* Footer styles */
.footer-container {
  display: flex;
}

.footer-container footer {
  justify-content: space-between;
}

.footer-container .menu {
  display: none;
}

footer {
  padding: 2rem 0;
  font-size: var(--text-small);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

footer .menu {
  padding-left: 0;
  margin: 2rem 0;
}

footer a {
  text-decoration: none;
}

.cool-links img {
  image-rendering: smooth;
  /* width: 178px;
  height: 62px; */
}
.cool-links a {
  transition: 0.2s;
}
.cool-links a:hover {
  border-bottom: 4px solid var(--colour-secondary);
  opacity: 0.9;
  text-decoration: none;
}

textarea, input {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid var(--colour-secondary);
  border-radius: 4px;
  background-color: var(--colour-background);
  font-size: 16px;
  resize: none;
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--colour-secondary);
  transition: box-shadow 0.1s ease;
}

a:focus-visible, 
button:focus-visible {
  outline: 3px solid var(--colour-secondary);
  outline-offset: 3px;
  border-radius: 3px;
  transition: outline 50ms ease;
  z-index: 1;
}

#eggbug-bye {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  float: right;
  filter: sepia(0.5);
  border-radius: 2px;
}

iframe[title="YouTube video player"] {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 425px;
  border-radius: 4px;
}

.stylish-summary {
  font-size: 20pt;
  background-color: var(--colour-lighter-background);
  color: var(--colour-secondary);
  box-shadow: 0px 6px 4px var(--colour-background) !important;
  border: 2px solid var(--colour-secondary);
  border-radius: 4px;
  padding: 1rem;
}

/* Mobile styling */
@media screen and (max-width:749px) {
  body {
    width: auto;
    padding: 0 1rem;
    font-size: var(--text-small);
  }

  header h1 a {
    text-decoration: none;
  }

  #monogram {
    width: 20px;
    height: 20px;
  }

  header nav {
    display: block;
    margin-left: 4px;
  }

  .read-more {
    display: none;
  }

  .directory-card::before {
    display: none;
  }
  .directory-card>div {
    margin-left: 0;
    margin-right: 0;
    border-radius: 8px;
    overflow: hidden;
    flex-direction: column;
    & .directory-card__link {
      padding: 1rem 0;
    }
  }
  .card-title {
    font-size: 14pt;
  }
  .card-excerpt, .date {
    font-size: 12pt;
  }
  .card-excerpt {
    margin: .25rem 0 0;
  }
  .card-image__link {
    min-width: 100%;
    border-radius: 6px;
  }
  .card-image {
    border-radius: 8px;
    max-width: none !important;
  }

  blockquote {
    font-size: var(--text-medium);
  }

  .right {
    float: right;
    margin-left: 1rem !important;
  }

  header {
    flex-direction: column;
  }

  header * {
    font-size: var(--text-medium);
    vertical-align: middle;
  }

  h1,
  h2,
  h3 {
    font-size: revert;
  }

  header .menu li:first-child {
    display: none;
  }

  header .menu a {
    font-size: var(--text-small);
  }

  header .name {
    font-size: 20pt;
  }

  header div#theme-select-container {
    display: none;
  }

  footer div#theme-select-container {
    display: block;
    /* margin: auto; */
  }

  .menu {
    flex-direction: row;
    padding-left: 0;
  }

  audio {
    max-width: 100%;
  }

  figure {
    max-width: 100%;
  }

  footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .utility-links {
    display: none;
  }

  .menu-item .ultility-link {
    display: block;
  }

  ul.taglist {
    padding-left: 1rem;
  }

  footer a {
    font-size: var(--text-small);
  }

  .menu {
    flex-wrap: wrap;
  }

  main {
    flex-direction: column;
    row-gap: 1rem;
  }

  #sidebar,
  #content {
    padding: 1rem;
  }

  #sidebar {
    display: none;
  }

  .footer-container-sidebar {
    display: none;
  }

  .footer-container,
  .footer-container .menu {
    display: block;
  }

  .cool-links {
    text-align: center;
  }

  .cool-links img {
    width: 88px;
    height: 31px;
  }

  .pagefind-ui__result-image {
    padding: 0rem;
  }
  .directory-card__link>figure {
    font-size: 12pt;
  }
}