@import url(../styles.css);

/* Comentario overrides by Damien Erambert */
body main .comentario-root.comentario-root {
  /* Remove background behind composer wrapper */
  --cmntr-bg: transparent;
  --cmntr-card-border: rgb(from var(--colour-text-faded) r g b / 0.4);
  /* Darkmode */
  --cmntr-bg-shade: var(--colour-background-darkmode);
  
  /* Tweak color in light mode */
  @media (prefers-color-scheme: light) {
		--cmntr-bg-shade: var(--colour-background-lightmode);
        .comentario-root .comentario-text-muted {
            color:var(--colour-text-faded)!important
        }      
    }
    :root[data-theme="light"] {
		--cmntr-bg-shade: var(--colour-background-lightmode);
		--cmntr-muted-color: var(--colour-text-faded);
    }
    :root[data-theme="dark"] {
		--cmntr-bg-shade: var(--colour-background-darkmode);  
		--cmntr-muted-color: var(--colour-text-faded);
    }

  /* Theme-specific: Remove background behind `code` element inside code blocks */
  pre code {
    background-color: transparent;
    color: inherit;
  }

  /* Theme-specific: Remove border around blockquote */
  blockquote {
    border-top: transparent;
    border-bottom: transparent;
  }

  /* Theme-specific: Change color of default button */
  .comentario-btn-tool,
  .comentario-btn-link {
    --cmntr-btn-hover-color: color-mix(in srgb, white 24%, var(--colour-secondary));
    --cmntr-btn-active-color: color-mix(
      in srgb,
      black 30%,
      var(--colour-secondary)
    );
  }
  .comentario-btn-link {
    --cmntr-btn-color: color-mix(in srgb, black 10%, var(--colour-secondary));
  }

  /* Theme-specific: Change color of primary button */
  .comentario-btn-primary {
    --cmntr-btn-bg: color-mix(in srgb, black 10%, var(--colour-secondary));
    --cmntr-btn-hover-bg: color-mix(in srgb, white 24%, var(--cmntr-btn-bg));
    --cmntr-btn-active-bg: color-mix(in srgb, black 30%, var(--cmntr-btn-bg));
  }

  /* Theme-specific: Change style of secondary button */
  .comentario-btn-secondary {
    --cmntr-btn-bg: color-mix(in srgb, black 10%, var(--colour-secondary));
    --cmntr-btn-hover-bg: color-mix(in srgb, white 24%, var(--cmntr-btn-bg));
    --cmntr-btn-active-bg: color-mix(in srgb, black 30%, var(--cmntr-btn-bg));
    background-color: transparent;
    box-shadow: none !important;
    border: 2px solid var(--cmntr-btn-bg);
    color: var(--cmntr-btn-bg);

    &:hover {
      border-color: var(--cmntr-btn-hover-bg);
      color: white;
    }
    &:active {
      border-color: var(--cmntr-btn-active-bg);
      color: white;
    }
  }

  /* Add quotes around blockquote content */
  blockquote p:first-of-type:before {
    content: open-quote;
  }
  blockquote p:last-of-type:after {
    content: close-quote;
  }

  /* Remove red border when textarea is invalid but still empty */
  textarea.comentario-touched:invalid:empty,
  .comentario-add-comment-host:not(.comentario-editor-inserted),
  textarea {
    border: 1px solid #959595;
  }
  @media (prefers-color-scheme: dark) {
    textarea.comentario-touched:invalid:empty,
    .comentario-add-comment-host:not(.comentario-editor-inserted),
    textarea {
      border: 1px solid #4a4a4a;
    }
  }

  /* 
    Only transition the color-related properties of the textarea.
    Prevents the resizing of the textarea from feeling "laggy".
   */
  textarea {
    transition-property: box-shadow, color, background-color, border,
      border-color;
  }

  /* Tweak background color of textarea */
  .comentario-add-comment-host:not(.comentario-editor-inserted),
  textarea {
    --cmntr-input-bg: var(--colour-background-lightmode);
    --cmntr-bg: var(--colour-background-lightmode);
  }

  @media (prefers-color-scheme: dark) {
    .comentario-add-comment-host:not(.comentario-editor-inserted),
    textarea {
      --cmntr-input-bg: var(--colour-background);
      --cmntr-bg: var(--colour-background);
    }
  }

  /* Disable "children collapse" toggler. */
  .comentario-card-expand-toggler {
    pointer-events: none;
  }

  /* Hide colored borders. */
  [class*="comentario-border-"] {
    border-left-color: transparent !important;
  }

  /* Hide background behind toolbar in preview mode. */
  .comentario-toolbar.comentario-disabled:has(
      ~ .comentario-comment-editor-preview
    ) {
    background-color: transparent;
  }

  /* Make badges more legible */
  .comentario-badge {
    font-size: 10px;
    font-weight: bold;
  }

  /* Hide moderator badge */
  .comentario-badge-moderator {
    display: none;
  }

  /* Make badge more legible in dark mode */
  @media (prefers-color-scheme: dark) {
    .comentario-badge {
      color: black;
    }
  }

  .comentario-card:first-child {
    border-top: none;
  }

  /* Make author links fit nicer with the rest of the style */
  .comentario-card a.comentario-name {
    color: inherit;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: currentColor;
    }
  }

  /* Make links in comments less "aggressive" */
  .comentario-card-body a {
    color: inherit;
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    text-decoration-color: currentColor;

    &:hover {
      text-decoration-thickness: 2px;
      color: currentColor;
    }
  }

  /* Use site link color for "watermark" */
  .comentario-footer {
    --cmntr-link-color: var(--colour-secondary);
    --cmntr-link-hover-color: color-mix(
      in srgb,
      black 20%,
      var(--colour-secondary)
    );
  }

  /* Hide sorting buttons
    TODO: show it again and find a way to make the buttons not ugly
  */
  .comentario-sort-bar {
    display: none;
  }

  .comentario-card .comentario-card-self {
    padding-top: 18px;
  }
}