---
title: projects
order: 2
draft: false
---
{% set portfolio = search.pages("type=projects draft=false", "published=desc") %}

<div class="grid">
    {% asyncEach item in portfolio %}
        {% include "/templates/grid-item.njk" %}
    {% endeach %}
</div>