---
layout: /layout.njk
title: tags
order: 6
---
{% set pageTags = search.values("tags") %}
<div class="tag-list">
    <div class="margin-bar"></div>
    <ul class="post-list">
        {% for tag in pageTags %}
            <li class="menu-item"><a href="../../tag/{{ tag }}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
</div>

<style>
    div.tag-list {
        display: flex;
        flex-direction: row;
        margin: 2rem 0;
    }
    ul.post-list {
        padding-left: 1rem;
        margin: 0;
    }
</style>