<div class="image-with-text">
  <div class="text">
    <h2>{{ heading }}</h2>
    <p>{{ blurb |> md }}</p>
  </div>
  <div class="image">
    <figure data-type="image">
        <img src="{{ image_url}}" alt="{{ image_alt }}">
		<figcaption>
			{{ if image_caption }}
				{{ image_caption |> md }}
			{{ else }}
				{{ image_alt |> md }}
			{{ /if }}
			{{ if image_attribution }}
				<span class="attribution">
					Image by 
					{{ if attribution_link }}
					<a href="{{ attribution_link |> url }}">
					{{ /if }}
						{{ image_attribution }}
					{{ if attribution_link }}
					</a>
					{{ /if }}
				</span>
			{{ /if }}
		</figcaption>
    </figure>
  </div>
</div>

<style>
	.image-with-text {
		display: flex;
		margin-top: var(--component-spacing);
		margin-bottom: var(--component-spacing);
		{{ if image_orientation == 'left' || image_orientation == 'Left'}}
			flex-direction: row-reverse
		{{ /if }};
		gap: 2rem;
		min-height:  
			{{ if section_height_min }}
				{{ section_height_min }}
			{{ else }}
				150px
			{{ /if }}
		;

		& .text {
			width: 60%;
		}

		& .image {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40%;
			& img {
			width: 100%;
			object-fit: contain;
			}
		}

        figcaption:not(img.lightbox + figcaption) {
            display: none;
        }
	}

	@media screen and (max-width: 400px) {
		.image-with-text {
			flex-direction: 
				{{ if image_orientation == 'left' || image_orientation == 'Left'}}
					column-reverse
				{{ else }}
					column
				{{ /if }}
			;

			& .text, .image {
				width: 100%;
			}
		}
	}
</style>
